@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
  @apply flex  items-center;
}
.header-category {
  @apply flex justify-center items-center cursor-pointer pt-[12px] pr-[8px] pb-[12px] pl-[8px];
}
.border-test {
  @apply border border-red-700;
}
.header {
  @apply flex flex-row pt-[34px] pr-[40px] pb-[34px] pl-[34px] gap-[24px] border-b-[5px] border-[#0F62FE] whitespace-nowrap bg-white;
}
.font-viewer {
  @apply font-bold text-[20px] leading-[22px] text-[#697077];
}
.font-category {
  @apply font-medium text-[16px] leading-[16px] text-[#21272A];
}
.blue-button {
  @apply bg-[#0F62FE] text-white font-medium text-[16px] leading-[16px] pt-[16px] pr-[12px] pb-[16px] pl-[12px];
}
.click-active:active {
  @apply transform scale-95; /* 클릭 시 살짝 축소 */
  @apply animate-blink; /* 깜박이는 애니메이션 */
}

:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

/* button:active {
  transform: scale(0.95);
  animation: blink 0.2s;
}
li:active {
  transform: scale(0.95);
  animation: blink 0.2s;
} */
/* 깜박이는 애니메이션 정의 */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@layer utilities {
  .animate-blink {
    animation: blink 0.2s;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
